*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
**/build
local.properties
.idea/
**/*.iml
**/*.apk
**/.temp
       **/*.jks
       unused/